# Server run
PORT=4000

# Connection database
DB_TYPE=postgres
#DB_HOST=localhost
DB_HOST=postgres-database-masters
DB_PORT=5432
DB_USERNAME=next
DB_PASSWORD=%next_14$
DB_NAME=NextMasters

# Create database
POSTGRES_USER=next
POSTGRES_PASSWORD=%next_14$
POSTGRES_DB=NextMasters

#Database vectors
QDRANT_URL=http://localhost:6333

# Migrations
TYPEORM_ENTITIES=dist/**/*.entity.js

# Cors
CORS_CLIENTS_URL='http://localhost:5173'

#App URL
API_URL=http://localhost:4000/api
WEB_URL=http://localhost:5173



